* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: lighten($color: $color-primary, $amount: 20);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -999;

    &::before {
        content: '';
        background-color: rgba($color-primary, .9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;

    }

    &::after {
        content: '';
        border-right: 3px solid darken($color: $color-primary, $amount: 3);
        background-color: $color-primary;
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100vh;
        z-index: -1;
        animation: slideInFromLeft .6s ease-in 0s forwards, skewToRight .3s ease-out .8s forwards;

    }

}



.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border: 1px solid red;
}

main {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    // border: 1px solid yellowgreen;
    width: 50%;

    h1 {
        margin-bottom: 5rem;
        line-height: 100%;

        span {
            display: inline-block;
            width: 100%;
            padding: 0;
            margin: 0;

            // border: 1px solid yellowgreen;
            &.text-primary {
                animation: .4s ease-in 1.1s enterLeft forwards;
                opacity: 0;
            }

            &.text-secondary {
                text-align: right;
                animation: .4s ease-in 1.3s enterRight forwards;
                opacity: 0;
            }
        }
    }

    h2 {
        background-color: lighten($color: $color-primary, $amount: 5);
        padding: .6rem;
        width: fit-content;
        margin: 0 0 10rem auto;
        animation: slideInFromBottom .4s ease-in 1.5s forwards, colorChange .4s ease-in 1.8s forwards;
        opacity: 0;
        color: transparent;
    }
}






// // header
// header {
//     position: fixed;
//     z-index: 2;
//     width: 100%;
//     overflow: hidden;

// }

// //main
// main {
//     width: 85%;
//     margin: 0 auto;

//     //border: 1px solid yellowgreen;

// }





// //home

// .main-home {
//     margin-top: 23vh;
// }

// h1,
// h2,
// h3 {
//     margin: 0;

//     &.lg-heading {
//         margin-bottom: 3rem;
//     }

//     &.sm-heading {
//         margin-bottom: 4rem;
//         padding: 0.5rem 1rem;
//         width: fit-content;
//         background: rgba(lighten($color-primary, 10), .4);
//     }
// }


// //about
// .about-info {
//     display: grid;
//     grid-gap: 30px;
//     grid-template-areas:
//         'bio-image bio bio'
//         'job-1 job-2 job-3';
//     grid-template-columns: repeat(3, 1fr);

//     .bio-image {
//         grid-area: bio-image;
//         margin: auto;
//         border-radius: 50%;
//         border: 3px solid $color-secondary;

//     }

//     .bio {
//         background: lighten($color-primary, 5);
//         padding: .5rem;
//         grid-area: bio;
//         font-size: 1.5rem;
//     }

//     .job-1 {
//         grid-area: job-1;
//     }

//     .job-2 {
//         grid-area: job-2;
//     }

//     .job-3 {
//         grid-area: job-3;
//     }

//     .job {
//         background: lighten($color-primary, 5);
//         padding: .5rem;
//         border-bottom: 5px solid $color-secondary;
//     }
// }

// //Contact

// .main-contact {
//     margin-top: 23vh;
// }