$color-primary: #2B3A42;
$color-white: #F0F0DF;
$color-secondary: #FF8F00;

$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: .9;

.video-background {
    position: absolute;
    z-index: -999;
    opacity: 0;
    animation: 1s ease-in 0s slideInFromRight forwards;
}



//Media Query Mixins
@mixin mediaXs {
    @media screen and (max-width: 330px) {
        @content;
    }
}

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}


@mixin mediaMd {
    @media screen and (max-width: 620px) {
        @content;
    }
}


@mixin mediaLg {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1081px) {
        @content;
    }
}