// Widescreens
@include mediaXl {
    body {

        padding-left: 80px;
    }

    .menu-btn {
        visibility: hidden;
        opacity: 0;
    }

    nav {
        visibility: visible;
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: -80px;
        height: 100vh;
        background-color: #1E282D;
        width: 80px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: width .2s, border-right .3s .2s;
        animation: showMenu .2s ease-in 0s forwards;
        transform-origin: 0% 100%;


        ul {
            list-style: none;
        }

        a {
            display: block;
            line-height: 70px;
            font-size: 22px;
            text-decoration: none;
            color: $color-white;
            width: 230px;
            transition: .2s;

            i {
                width: 80px;
                text-align: center;
                transition: margin-right .2s;

            }

            span {
                visibility: hidden;
                opacity: 0;
            }

            &.active {
                color: $color-secondary;
            }

            &:hover {
                color: $color-secondary;

                i {
                    margin-right: 30px;
                }
            }
        }


    }

    nav:hover {
        width: 230px;
        border-right: 3px solid $color-secondary;

        span {
            visibility: visible;
            opacity: 1;
        }
    }
}






// Desktops & Laptops
@include mediaLg {
    main {
        width: 75%;

        h2 {
            font-size: 2.1rem;
        }


        h4 {
            font-size: 1.6rem;
        }
    }
}


// Tablets & Small Laptops
@include mediaMd {

    .video-background {
        height: 50%;
        width: auto
    }

    body {

        &::after {
            animation: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            border-right: none;
            animation: slideInFromTop .6s ease-in 0s forwards;
            border-bottom: 3px solid darken($color: $color-primary, $amount: 3);
        }

    }

    main {
        width: 85%;



        h1 {
            padding: 0 1rem;
            font-size: 6rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        h4 {
            font-size: 1.4rem;
        }
    }
}


// Smartphones
@include mediaSm {

    main {
        width: 100%;

        h1 {
            padding: 0 1rem;
        }

    }
}