// Widescreens
@include mediaXl {
    body {
        padding-left: 80px;
    }

    .menu {
        left: 0;
        box-sizing: content-box;
        visibility: visible;
        width: 80px;
        border-right: 3px solid #1E282D;

        transition: width .3s, border-right .3s .2s;

        &-branding {
            width: 100%;
            height: 30vh;
            transform: translate3d(0, 0, 0);
            background-color: #1E282D;

            .portrait {
                width: 150px;
                height: 150px;
                visibility: hidden;
                transition: .3s ease-in .2s;
                opacity: 0
            }
        }

        &-nav {
            width: 100%;
            height: 70vh;
            justify-content: flex-start;
            transform: translate3d(0, 0, 0);
            background-color: #1E282D;

        }

        .nav-item {
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }

        span {
            opacity: 0;
        }


        &:hover {
            width: 250px;
            border-right: 3px solid $color-secondary;

            span {
                visibility: visible;
                opacity: 1;
            }

            .menu-branding {
                .portrait {

                    background: url('../img/portrait_small.jpg');
                    visibility: visible;
                    opacity: 1;
                }

            }
        }

        &-btn {
            visibility: hidden
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0)
        }
    }
}












// Desktops & Laptops
@include mediaLg {
    main {
        width: 75%;

        h2 {
            font-size: 2.1rem;
        }


        h4 {
            font-size: 1.6rem;
        }
    }

    .menu {
        &-btn {
            visibility: visible;
            opacity: 1;
            z-index: 6;
        }

        // position: fixed;
        // top: 0;
        // width: 100%;
        // opacity: .9;
        // // visibility: hidden;

        // &.show {}
    }

    .video-background {
        left: 0vw;
    }
}


// Tablets & Small Laptops
@include mediaMd {

    .video-background {
        height: 50%;
        right: 0;
        width: auto
    }

    body {

        &::after {
            animation: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            border-right: none;
            animation: slideInFromTop .6s ease-in 0s forwards;
            border-bottom: 3px solid darken($color: $color-primary, $amount: 3);
        }

    }

    main {
        width: 85%;



        h1 {
            padding: 0 1rem;
            font-size: 6rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        h4 {
            font-size: 1.4rem;
        }
    }
}


// Smartphones
@include mediaSm {

    main {
        width: 100%;

        h1 {
            padding: 0 1rem;
        }

    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0)
        }
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);

    }
}