// @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-white;
}

.text-secondary {
    color: $color-secondary;
}


h1 {
    font-size: 8rem;
    font-weight: inherit;
    text-transform: uppercase;
    letter-spacing: 7px;
}

h2 {
    text-align: right;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 300;
}

.typewritter {
    background-color: $color-secondary;
    color: #000;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    padding: .3rem;
    width: fit-content;
    margin: 0 auto;
}